@model IEnumerable<MakeAmazingThings.Models.Fotos>

@{
    ViewBag.Title = "Index";
}

<h2>Fotografias de produtos</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Produto.NomeProd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ordem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomeFoto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Produto.NomeProd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ordem)
        </td>
        <td>
            <a href="~/imagens/@item.NomeFoto" target="_blank">
                <img src="~/imagens/@item.NomeFoto" width="60" height="37" />
</td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
