@model MakeAmazingThings.Models.Produtos

@{
    ViewBag.Title = "Details";
}

@*TEM DE ADICIONAR O CODIGO DA ESCOLHA DO PUBLICO ALVO COMO NO CREATE*@
<h2>Details</h2>

<div>
    <h4>Produtos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeProd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeProd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Preco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Preco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IvaVenda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IvaVenda)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ativo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => Model.ListaDeFotografias)
        </dt>

        @foreach (var item in Model.ListaDeFotografias)
        {
            <dd>
                <a href="~/imagens/@item.NomeFoto" target="_blank">
                    <img src="~/imagens/@item.NomeFoto" width="50" height="37" />
                </a>
            </dd>
        }


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
