@model IEnumerable<MakeAmazingThings.Models.Produtos>

@{
    ViewBag.Title = "Produtos-MAT";
}

<h2>Lista de Produtos</h2>

<p>
    @Html.ActionLink("Adicionar novo produto", "Create")
</p>

@using (Html.BeginForm())
{
    <div>
        <input type="submit" name="btPesquisa" value="Unisexo" />
        <input type="submit" name="btPesquisa" value="Masculino" />
        <input type="submit" name="btPesquisa" value="Feminino" />
        <input type="submit" name="btPesquisa" value="Todos" />
    </div>
}

    <div class="row">
        @foreach (var item in Model)
    {

        <div class="col-sm-4" style="padding:4px 4px 4px 4px">
           
           <a href="~/imagens/@item.Fotografia" target="_blank">
            <img src="~/imagens/@item.Fotografia" class="img-responsive" style="width:75%" />
            </a>
            <p> @Html.DisplayFor(modelItem => item.Marca)</p>
            <p> @Html.DisplayFor(modelItem => item.NomeProd)</p>
            <p> @Html.DisplayFor(modelItem => item.Preco)€</p>
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </p>
            
        </div>
}
    </div>





        @*
            }
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Marca)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.NomeProd)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Descricao)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Stock)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Preco)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IvaVenda)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Ativo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SexoDoUtilizador)
                        </th>

                        <th></th>
                    </tr>





                    @foreach (var item in Model)
                {

                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Marca)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NomeProd)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descricao)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Stock)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Preco)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IvaVenda)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ativo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SexoDoUtilizador)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                        </td>
                    </tr>

            }

                </table>

        *@